In [2]:
#Tugas List Nilai

import random

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

[64, 42, 80, 15, 50, 25, 50, 33, 43, 3, 56, 4, 51, 28, 10, 62, 53, 38, 65, 51, 73, 24, 30, 85, 70, 85, 41, 20, 38, 98, 26, 35, 25, 71, 30, 71, 29, 37, 4, 71, 3, 97, 96, 35, 28, 2, 85, 85, 21, 14, 57, 24, 88, 43, 29, 75, 58, 39, 70, 1, 29, 78, 63, 16, 10, 89, 38, 33, 19, 16, 29, 32, 78, 80, 40, 63, 38, 78, 48, 54, 16, 40, 39, 81, 52, 56, 32, 25, 80, 92, 88, 93, 3, 16, 36, 76, 29, 71, 90, 52, 10, 99, 32, 72, 59, 18, 67, 54, 56, 50, 88, 12, 53, 99, 71, 75, 29, 9, 51, 66, 84, 66, 57, 29, 81, 42, 96, 25, 9, 91, 2, 27, 12, 32, 46, 13, 9, 80, 68, 3, 24, 19, 12, 50, 2, 4, 55, 8, 55, 1, 62, 99, 81, 12, 77, 67, 39, 3, 29, 90, 12, 27, 22, 6, 85, 35, 22, 37, 40, 66, 99, 83, 87, 64, 70, 32, 12, 85, 67, 51, 69, 97, 90, 80, 68, 79, 40, 93, 76, 97, 20, 89, 77, 85, 42, 47, 43, 82, 31, 80, 63, 39, 45, 83, 89, 63, 34, 78, 54, 71, 12, 91, 79, 96, 91, 96, 82, 10, 96, 22, 2, 40, 60, 30, 19, 16, 7, 2, 63, 64, 87, 78, 93, 99, 6, 69, 22, 45, 86, 89, 19, 51, 4, 26, 92, 44, 59, 98, 90, 86]

In [3]:
#Ganjil
ganjil=[]
for n in nilaiTugas:
    if n%2 !=0:
        ganjil.append(n)
        
print ("Nilai ganjil adalah=",ganjil)

Nilai ganjil adalah= [15, 25, 33, 43, 3, 51, 53, 65, 51, 73, 85, 85, 41, 35, 25, 71, 71, 29, 37, 71, 3, 97, 35, 85, 85, 21, 57, 43, 29, 75, 39, 1, 29, 63, 89, 33, 19, 29, 63, 39, 81, 25, 93, 3, 29, 71, 99, 59, 67, 53, 99, 71, 75, 29, 9, 51, 57, 29, 81, 25, 9, 91, 27, 13, 9, 3, 19, 55, 55, 1, 99, 81, 77, 67, 39, 3, 29, 27, 85, 35, 37, 99, 83, 87, 85, 67, 51, 69, 97, 79, 93, 97, 89, 77, 85, 47, 43, 31, 63, 39, 45, 83, 89, 63, 71, 91, 79, 91, 19, 7, 63, 87, 93, 99, 69, 45, 89, 19, 51, 59]

In [4]:
#nilai>70

lebihdari70=[]
for n in nilaiTugas:
    if n>70:
        lebihdari70.append(n)
print("Nilai Lebih Dari 70 adalah=",lebihdari70)

Nilai Lebih Dari 70 adalah= [80, 73, 85, 85, 98, 71, 71, 71, 97, 96, 85, 85, 88, 75, 78, 89, 78, 80, 78, 81, 80, 92, 88, 93, 76, 71, 90, 99, 72, 88, 99, 71, 75, 84, 81, 96, 91, 80, 99, 81, 77, 90, 85, 99, 83, 87, 85, 97, 90, 80, 79, 93, 76, 97, 89, 77, 85, 82, 80, 83, 89, 78, 71, 91, 79, 96, 91, 96, 82, 96, 87, 78, 93, 99, 86, 89, 92, 98, 90, 86]

In [5]:
#standard deviasi

#temukan rata-rata
total = 0
for n in nilaiTugas:
    total = total + n
rata = total / len(nilaiTugas)

#Temukan std_deviasi
totalselisih=0
for n in nilaiTugas:
    x=n-rata
    pangkat=x**2
    totalselisih=totalselisih+pangkat
std_deviasi=(totalselisih/(len(nilaiTugas)-1))**(0.5)

print("Standard Deviasi=",std_deviasi)

Standard Deviasi= 29.45587837910011

In [6]:
#maksimum
terbesar=0
for n in nilaiTugas:
    if n>terbesar:
        terbesar=n
print("Nilai Maksimum=",terbesar)

Nilai Maksimum= 99

In [7]:
#minimum
for n in nilaiTugas:
    if n<terbesar:
        terbesar=n
print("Nilai minimum =",terbesar)

Nilai minimum = 1

In [8]:
#modus
maksimal=0
modus={}
for i in nilaiTugas:
    count= nilaiTugas.count(i)
    modus.update({i:count})

for key in modus:
    if modus[key]>maksimal:
        maksimal=modus[key]

for key in modus:
    if modus[key]==maksimal:
        print("Nilai Modus adalah=",key)

Nilai Modus adalah= 29

In [ ]:
#---------------------------------------------------

In [ ]:
#-----------------------------------------------------

In [1]:
#Tugas Word Count

paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."

my_string = paragraf.lower().split()
my_dict = {}
for item in my_string:
    if item in my_dict:
        my_dict[item]= my_dict[item]+1
    else:
        my_dict[item] = 1
print(my_dict)

{'barcelona': 2, 'berhasil': 1, 'merebut': 1, 'posisi': 1, 'puncak': 1, 'klasemen': 1, 'la': 1, 'liga': 1, 'spanyol': 1, 'seusai': 1, 'menang': 1, '4-2': 1, 'atas': 1, 'sevilla': 1, 'pada': 3, 'pertandingan': 1, 'pekan': 1, 'kesembilan': 1, 'di': 1, 'stadion': 1, 'camp': 1, 'nou,': 1, 'sabtu': 1, '(20/10/2018)': 1, 'atau': 1, 'minggu': 1, 'dini': 1, 'hari': 1, 'wib.': 1, 'membuka': 1, 'keunggulan': 2, 'menit': 3, 'ke-2': 1, 'melalui': 1, 'gol': 1, 'yang': 1, 'dicetak': 1, 'oleh': 1, 'philippe': 1, 'coutinho.': 1, 'lionel': 1, 'messi': 2, 'menggandakan': 1, 'barcelona,': 2, '10': 1, 'berselang.': 1, 'namun,': 1, 'nahas': 1, 'bagi': 1, 'karena': 1, 'harus': 1, 'ditarik': 1, 'keluar': 1, 'ke-26': 1, 'setelah': 1, 'mengalami': 1, 'cedera.': 1, 'tanpa': 1, 'messi,': 1, 'skor': 1, '2-0': 1, 'bertahan': 1, 'hingga': 1, 'babak': 1, 'pertama': 1, 'berakhir.': 1}